body {
	background-color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seeds { 
	height: 160px;
  	width: 160px;
	border: 0px;
}